<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<title>Read More</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="ReadMore_mainPage.css">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="common-css/bootstrap.css" rel="stylesheet">
	
	
	<link href="common-css/ionicons.css" rel="stylesheet">
	
	
	<link rel="stylesheet" href="common-css/jquery.classycountdown.css" />
		
	<link href="01-comming-soon/css/styles.css" rel="stylesheet">
	
	<link href="01-comming-soon/css/responsive.css" rel="stylesheet">
	
</head>
<body>


	<div class="container-fluid">
		<nav class="navbar navbar-dark bg-light justify-content-between">
		  <a class="navbar-brand">Read More</a>
		  <!-- <form class="form-inline">
			<a href="ReadMore_login_signup.html"><button class="btn btn-default btn-lg mybutton"><i class="fas fa-user" aria-hidden="true"></i>  Log Out</button></a>
		  </form> -->
		</nav>
	  
		<div class="d-flex justify-content-center align-items-center">
		  <div class="card w-50 text-center">
			<div class="card-header">
			  <i class="fa fa-book" aria-hidden="true"></i>    Your Current Book    
			</div>
			<div class="card-body">
			  <h5 class="card-title">Harry Potter and the Philosopher's Stone</h5>
			  <p class="card-text">On his 11th birthday, Harry receives a letter inviting him to study magic at the Hogwarts School of Witchcraft and Wizardry. Harry discovers that not only is he a wizard, but he is a famous one. He meets two best friends, Ron Weasley and Hermione Granger, and makes his first enemy, Draco Malfoy.</p>
			  <div class="row mx-2 my-2">
				<a href="" class="btn btn-outline-success btn-sm "> <i class="fa fa-check" aria-hidden="true"></i>     Finished Reading!</a>
				<a href="" class="btn btn-outline-danger btn-sm "><i class="fa fa-times" aria-hidden="true"></i>     Still Reading</a>
			  </div>
			</div>
		  </div>
		</div>

		<hr>
	<div><h2>From the 25 days given to read your book, you have these many days left!</h2>
	</div>
		
	</div>
	
	
	<div class="main-area">
		<div class="container full-height position-static">
			
			<section class="left-section full-height">
		
				<div class="display-table center-text">
					<div class="display-table-cell">
						
						
						<div id="rounded-countdown">
							<div class="countdown" data-remaining-sec="2000000"></div>
						</div>
						
					</div>
				</div>
				
			</section>
		
		</div>
	</div>
	

	
	<!-- SCIPTS -->
	
	<script src="common-js/jquery-3.1.1.min.js"></script>
	
	<script src="common-js/tether.min.js"></script>
	
	<script src="common-js/bootstrap.js"></script>
	
	<script src="common-js/jquery.classycountdown.js"></script>
	
	<script src="common-js/jquery.knob.js"></script>
	
	<script src="common-js/jquery.throttle.js"></script>
	
	<script src="common-js/scripts.js"></script>
	
</body>
</html>