<!DOCTYPE html>
<html>
<head>
	<title>Read More</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="1stPage.css">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>

<body>
    
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-light justify-content-between">
      <a class="navbar-brand">Read More</a>
      <form class="form-inline">
        <a href="ReadMore_login_signup.html"><button class="btn btn-default btn-lg mybutton"><i class="fas fa-user" aria-hidden="true"></i>  Log Out</button></a>
      </form>
    </nav>

    <p>Welcome to Read More!......</p>
  
    
    
</div>
  
     
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>