<!DOCTYPE html>
<html>
<head>
	<title>Read More</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="ReadMore_login_signup.css">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>

<body>
    


    <div class="container">
    	<div class="row">
    		<div class="col-lg-12">
    			<div id="content">
    			<h1>Read More<h1>
    			<h3>So you are a Bibliophile, yet you struggle to read regularly. Want some help to practice and maintain this good habit? Look no more.</h3>
    			<hr>
    			<a href="signup.html" ><button class="btn btn-default btn-lg mybutton"><i class="fas fa-user-plus" aria-hidden="true"></i>  Sign Up</button></a>
                <a href="login.html" ><button class="btn btn-default btn-lg mybutton"><i class="fas fa-user" aria-hidden="true"></i>  Login</button></a>
    			</div>
    		</div>
    	</div>
    </div>

    

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>