body {
	background-image: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
	background-position: center;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	color: white;
}


#content {
	text-align: center;
	padding-top: 15%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.7),
                 0px 8px 13px rgba(0,0,0,0.4),
                 0px 18px 23px rgba(0,0,0,0.1);
}

h1{
	font-size: 7em;
	font-weight: 700;
}

h3 {
    line-height: 1.1cm;
}

html {
	height: 100%;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.mybutton {
    margin-inline: 10px;
}

a:hover {
    color:white;
    background-color: rgba(0,0,0,0);
}