

html{ font-size: 100%; height: 100%; width: 100%; overflow-x: hidden; margin: 0px;  padding: 0px; touch-action: manipulation; }


body{ font-size: 16px; width: 100%; height: 100%; margin: 0; font-weight: 400;
    background-color: #f8f8f8;
	color: rgb(34, 34, 34);
	background-image: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
	background-position: center;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	
}

nav {
    color:rgb(22, 22, 22);
    size: 40px;
}

h2 {
    line-height: 1.1cm;
	color: #f8f8f8;
	text-align: center;
	padding-top: 10%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.7),
                 0px 8px 13px rgba(0,0,0,0.4),
                 0px 18px 23px rgba(0,0,0,0.1);
}


.d-flex {
    padding-top: 100px;
}
hr {
	width: 400px;
	border-top: 3px solid #f8f8f8;
	border-bottom: 3px solid rgba(0,0,0,0.2);
}

.center-text{ text-align: center; } 

.display-table{ display: table; height: 100%; width: 100%; }

.display-table-cell{ display: table-cell; vertical-align: middle; }

.full-height{ height: 100%; }

.main-area{ position: relative; height: 100vh;  }


